@import "~normalize.css";

@import "_variables";
// @import "modules/hello.scss";

body {
  background: $water;
  color: $water-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.counter {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70vh;

&__button {

  &--add {
    color: #000046
  }

  &--remove {
    background: none;
    border: none;
    color: $water-text;
  }
}

  &__display {

  }

  &__image {
    opacity: 1;
    display: block;
  }

  &__type {
    font-size: 2em;
    margin-top: 0em;
  }

  &__value {
    max-width: 120px;
    font-size: 9em;
    color: #000046;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 27%;

    // margin-bottom: -1em;
    &--smaller {
      font-size: 6.2em;

      bottom: 30%;
      text-align: center;
    }
    text-align: center;
  }

}

.main-header {
  font-size: 3em;
}
